/*-----------------------------------GLOBAL------------------------------------*/

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    margin: 0;
    overflow: hidden; /* Evita el desbordamiento */
}
a{
    text-decoration: none;
}
/*-----------------------------------HEADER LATERAL------------------------------------*/

nav {
    display: flex;
    width: 30%; /* La barra de navegación ocupará el 30% */
    height: 100vh; /* Altura de toda la pantalla */
    flex-direction: column;
    align-items: flex-start;
    gap: 30%;
    background: #0E0E19;
    flex-shrink: 0; /* Evita que la barra se reduzca */
}

.headernosotros, .headernosotros_2 , .headernosotros_3{
    font-size: 27px;
    font-family: 'League Gothic';
    color: #f4ebeb;
    text-align: left;
    transition: color 500ms ease;
}

.headernosotros_1 {
    font-size: 27px;
    font-family: 'League Gothic';
    color: #aac432;
    text-align: left;
    transition: color 500ms ease;
}

.headernosotros_2{
    font-size: 54px;
}

.headernosotros:hover , .headernosotros_1:hover{
    color: #D1DE83;
}

.logo-icon:hover{
    content: url(img/Logo_Variente\ Hover.png);
}
.logo-icon {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 3s ease-in-out;
}

.logo-icon-1:hover{
    content: url(img/Imagen\ Perfil_Variante\ Hover.png);
}
.logo-icon-1 {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 3s ease-in-out;
}


.arriba {
    display: flex;
    height: 118px;
    width: 100%; /* Ajusta el ancho para que ocupe el espacio disponible */
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    
}

.perfil_1 {
    display: flex;
    width: 176px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.abajo {
    display: flex;
    padding: 35px;
    flex-direction: column;
    gap: 30px;
    width: 100%; /* Ajusta para ocupar el ancho disponible */
}

.content {
    display: flex;
    flex-direction: column; /* Organiza las partes de arriba a abajo */
    width: 70%; /* El contenido ocupará el 70% */
    height: 100vh;
    padding: 8% 22px;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 4%;
    background: #171721;
    overflow: auto; /* Añade scroll si el contenido es muy grande */
}

.atras-icon:hover{
    content: url(img/Mítica\ Flecha_Varinate\ Hover.png);
}
.atras-icon {
    width: 50px;
    height: 50px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 3s ease-in-out;
}

.part_1{
    display: flex;
    width: 78%; /* Ocupa todo el ancho */
    justify-content: flex-start;
    align-items: center;
    gap: 90%;
    padding: 0px 20px;
}

.part_2{
    display: flex;
    width: 60%; /* Ocupa todo el ancho */
    justify-content: space-around; /* Distribuye los iconos con espacio alrededor */
    align-items: center;
    gap: 10%; /* Espacio entre los iconos */
    padding: 15px 0px;
    flex-direction: row; /* Cambia la distribución a horizontal */
    margin: 0 auto; /* Esto centra la parte horizontalmente */
}

.socialmedia:hover{
    opacity: 0.5;
}
.socialmedia {
    width: 50%; /* Ajusta el tamaño según tu preferencia */
    height: 50%; /* Ajusta el tamaño según tu preferencia */
    transition: 500ms ease-in-out;
}

.line{
    width: 100%;
    height: 1px;
    background: #BCD933;
}

.part_3{
    display: flex;
    width: 40%;
    height: 20%;
    padding: 5% 35px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}

.headernosotros_3:hover{
    color: #D1DE83;
}
.headernosotros_3{
    color: #FFF;
    font-family: Abel;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: color 500ms ease;
}