/*-----------------------------------GLOBAL------------------------------------*/

body {
    margin: 0;
    line-height: normal;
    background-color: #171721;
    }
a {
    text-decoration: none;
}

/*-----------------------------------HEADER------------------------------------*/

    .header {
    width: 100%;
    position: sticky; /* Aquí tengo un problema, porque el sticky, no se stickea */
    background-color: #0E0E19;
    height: 100px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    text-align: center;
    font-size: 27px;
    color: #f4ebeb;
    font-family: 'League Gothic';
    }
    .logo-icon {
    width: 23%;
    position: left;
    height: 100%;
    overflow: hidden;
    flex-shrink: 0;
    }
    .headernosotros {
        position: relative;
        font-size: 27px;
        font-family: 'League Gothic';
        color: #f4ebeb;
        text-align: left;
        transition: color 500ms ease;
    }
    .headernosotros1 {
        position: relative;
    }
    .headernosotros:hover{
        color: #D1DE83;
    }
    .botn-sencillo-iniciar-sesi:hover{
        background-color: #1E1E36;
    }
    .hovering-titles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }
    .nav {
    width: 33%;
    height: 100%;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 62px;
    box-sizing: border-box;
    }
    .botn-sencillo-iniciar-sesi {
    border-radius: 5px;
    background-color: #111121;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 9px 20px;
    transition: background-color 500ms ease;
    }
    .botones-header {
    width: 17%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    color: #f4ebeb;
    padding: 1%;
    font-family: 'League Gothic';
    }
    
/*----------------------------------TÍTULO-----------------------------------*/

.imagen {
    width: 100%;
    margin: 0 !important;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 624px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-image: url('gym-equipment.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 0;
    }
    .fitnessplus {
    width: 501px;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    }
    .slogan {
    width: 501px;
    position: relative;
    font-size: 48px;
    text-transform: uppercase;
    color: #bcd933;
    display: inline-block;
    }
    .nombre-y-slogen {
    width: 609px;
    background-color: rgba(136, 136, 136, 0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px 0px 10px 13px;
    box-sizing: border-box;
    z-index: 1;
    }
    .principal-nombre {
    width: 100%;
    position: relative;
    background-color: #171721;
    height: 624px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 289px 119px 145px 126px;
    box-sizing: border-box;
    gap: 5px;
    text-align: left;
    font-size: 128px;
    color: #f4ebeb;
    font-family: 'League Gothic';
    }
    /*----------------------------------NOSOTROS-----------------------------------*/

    .nosotros1 {
        align-self: stretch;
        position: relative;
        text-transform: uppercase;
  }
  .f {
        text-transform: capitalize;
  }
  .itnessplus-es-mucho {
        text-transform: lowercase;
  }
  .fitnessplus-es-mucho-ms-que-u {
        margin: 0;
  }
  .blank-line {
        margin: 0;
        text-transform: capitalize;
  }
  .fitnessplus-es-mucho-container {
        align-self: stretch;
        position: relative;
        font-size: 30px;
        font-family: Abel;
        color: #fff;
  }
  .info {
        width: 611px;
        height: 998px;
        overflow: hidden;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0px 24px;
        box-sizing: border-box;
        gap: 4px;
  }
  .poster-icon {
        width: 100%;
        position: relative;
        height: 100%;
        overflow: hidden;
  }
  .nosotros {
        width: 50%;
        position: relative;
        background-color: #171721;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 10% 25%;
        gap: 20px;
        text-align: left;
        font-size: 80px;
        color: #edefe2;
        font-family: 'League Gothic';
  }
  
  /*----------------------------------EVENTOS-----------------------------------*/

  .evento-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    background-color: #d1de83;
    width: 1092px;
    height: 501px;
}
.evento1 {
    position: absolute;
    top: 122px;
    left: 93px;
    text-transform: uppercase;
}
.evento-en-el {
    position: absolute;
    top: 302px;
    left: 93px;
    font-size: 64px;
    text-transform: uppercase;
    color: #0c0c1f;
}
.evento-item {
    position: absolute;
    top: -170px;
    left: 500px;
    width: 715px;
    height: 723.5px;
    object-fit: contain;
}
.evento-inner {
    position: absolute;
    top: -13px;
    left: 857px;
    width: 272px;
    height: 272px;
}
.vector-icon {
    position: absolute;
    height: 18.46%;
    width: 8.53%;
    top: 33.13%;
    right: 49.99%;
    bottom: 48.4%;
    left: 41.48%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.evento {
    width: 1092px;
    position: relative;
    height: 501px;
    overflow: hidden;
    flex-shrink: 0;
}
.evento-child1 {
    width: 805px;
    position: relative;
    height: 788.2px;
    object-fit: contain;
    z-index: 0;
}
.rectangle-div {
    width: 1092px;
    position: relative;
    border-radius: 20px;
    background-color: #bcd933;
    height: 501px;
    z-index: 1;
}
.evento3 {
    width: 316px;
    position: absolute;
    margin: 0 !important;
    top: 122px;
    left: 93px;
    text-transform: uppercase;
    display: inline-block;
    z-index: 2;
}
.evento-en-el1 {
    width: 827px;
    position: absolute;
    margin: 0 !important;
    top: 302px;
    left: 93px;
    font-size: 64px;
    text-transform: uppercase;
    color: #0c0c1f;
    display: inline-block;
    z-index: 3;
}
.star-icon {
    width: 272px;
    position: absolute;
    margin: 0 !important;
    top: -13px;
    left: 857px;
    height: 272px;
    z-index: 4;
}
.vector-icon1 {
    width: 8.53%;
    position: absolute;
    margin: 0 !important;
    height: 18.46%;
    top: 33.13%;
    right: 49.99%;
    bottom: 48.4%;
    left: 41.48%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 5;
}
.evento2 {
    border-radius: 26px;
    background-color: #bcd933;
    height: 501px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}
.evento-child2 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    background-color: #0e0e19;
    width: 1092px;
    height: 501px;
}
.evento-en-el2 {
    position: absolute;
    top: 302px;
    left: 93px;
    font-size: 64px;
    text-transform: uppercase;
}
.evento4 {
    width: 1092px;
    position: relative;
    height: 501px;
    overflow: hidden;
    flex-shrink: 0;
    color: #eee;
}
.scroll-eventos {
    width: 3652px;
    overflow-x: scroll;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 46px 94px;
    box-sizing: border-box;
}
.eventos {
    width: 100%;
    position: relative;
    background-color: #171721;
    height: 633px;
    overflow-x: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 86px 0px;
    box-sizing: border-box;
    text-align: center;
    font-size: 150px;
    color: #171721;
    font-family: 'League Gothic';
}


 /*----------------------------------SERVICIOS-----------------------------------*/

 .servicios-neu-icon {
    width: 35%;
    position: relative;
    height: 45%;
    overflow: hidden;
}
.sevicios {
    width: 100%;
    background-color: #171721;
    height: 1046px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding: 3% 10%;
    gap: 10% 5%
}

 /*----------------------------------CONTACTO-----------------------------------*/

 .contacto1 {
    align-self: stretch;
    position: relative;
    font-size: 60px;
    font-family: 'League Gothic';
}
.correodelgymgmailcom1 {
    position: absolute;
    width: 105.1%;
    top: 0%;
    left: 0%;
    display: inline-block;
    transition: color 500ms ease;
}
.correodelgymgmailcom1:hover{
    color: #D1DE83;
}
.correodelgymgmailcom {
    align-self: stretch;
    position: relative;
    height: 34px;
}
.datos {
    width: 326px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5px 6px;
    box-sizing: border-box;
    gap: 10px;
}
.vector-icon {
    width: 37px;
    position: relative;
    height: 38px;
}
.vector-icon1 {
    width: 42px;
    position: relative;
    height: 42px;
}
.vector-icon2 {
    width: 49px;
    position: relative;
    height: 36px;
}
.vector-icon3 {
    width: 37px;
    position: relative;
    height: 41px;
}
.logos-redes {
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contacto {
    width: 90%;
    background-color: #111118;
    height: 210px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3% 125px;
    text-align: left;
    font-size: 32px;
    color: #fff;
    font-family: Abel;
}


