/*-----------------------------------GLOBAL------------------------------------*/
body {
    width: 100%;
    margin: 0;
    line-height: normal;
    background-color: #171721;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/*-----------------------------------HEADER------------------------------------*/

.logo-icon:hover{
    content: url(img/Logo\ Hover.svg);
}
.logo-icon {
    width: 25%;
    position: relative;
    height: 80%;
    overflow: hidden;
    transition: 3s ease-in-out;
}
.iniciar-sesin {
    position: relative;
}

.botn-sencillo-registrar:hover{
    background-color: #1e1e36;
}
.botn-sencillo-iniciar-sesi, .botn-sencillo-registrar {
    color: #f4ebeb;
    border-radius: 5px;
    background-color: #111121;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 9px 20px;
    font-size: 27px;
    transition: background-color 500ms ease;
}
.botn-sencillo-iniciar-sesi{
    background-color: #1e1e36;
}
.botones-header {
    width: 20%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 30px;
    color: #f4ebeb;
    padding: 1% 2%;
    gap: 7%;
    font-family: 'League Gothic';
    }
.header {
    width: 100%;
    position: sticky; /* Aquí tengo un problema, porque el sticky, no se stickea */
    background-color: #0E0E19;
    height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 27px;
    color: #f4ebeb;
    font-family: 'League Gothic';
    }

/*-----------------------------------INICIO DE SESIÓN------------------------------------*/

.vector-icon:hover{
    opacity: 0.5;
}
.vector-icon {
    width: 30px;
    position: relative;
    height: 51px;
    transition: 500ms ease-in-out;
}
.iniciar-sesin {
    position: relative;
}
.crear-cuenta {
    position: relative;
    width:100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.correodelgymgmailcom1:hover{
    color: #D1DE83;
}
.correodelgymgmailcom1 {
    color: #f4ebeb;
    position: absolute;
    width: 118.47%;
    top: 0%;
    left: 0%;
    display: inline-block;
    transition: 500ms ease-in-out;
}
.correodelgymgmailcom {
    width: 150px;
    position: relative;
    height: 34px;
    transition: color 500ms ease;
}
.correodelgymgmailcom:hover{
    color: #D1DE83;
}
.no-tens-cuenta {
    width:100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    top: 101px;
    left: 0px;
    font-size: 32px;
    font-family: Abel;
}
.conjunto-arriba {
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 64px;
}
.nombre:hover{
    background-color: #D1DE83;
}
.nombre:active{
    color: #D1DE83;
}
.nombre {
    width: 25%;
    border-radius: 10px;
    background-color: #51515b;
    height: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0% 5%;
    font-family: Abel;
    transition: background-color 500ms ease;
    transform: color;
}
.conjunto-abajo {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    height: 100%;
    gap : 30px;
}
.botn-sencillo:hover{
    background-color: #1e1e36;
}
.botn-sencillo {
    width: auto;
    border-radius: 5px;
    background-color: #111121;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 9px 20px;
    font-size: 30px;
    color: #f4ebeb;
    transition: background-color 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}
.datos-inicio-de-sesin {
    width: 80%;
    background-color: #171721;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4% 11%;
    gap: 100px;
    font-size: 32px;
    color: #fff;
    font-family: 'League Gothic';
}
