/*-----------------------------------GLOBAL------------------------------------*/


body {
    width: 100%;
    margin: 0;
    line-height: normal;
    background-color: #171721;
}

a {
    text-decoration: none;
}

/*-----------------------------------HEADER------------------------------------*/

.logo-icon {
    width: 23%;
    position: relative;
    height: 100%;
    overflow: hidden;
}
.iniciar-sesin {
    position: relative;
}
.botn-sencillo-iniciar-sesi {
    border-radius: 5px;
    background-color: #1e1e36;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 9px 20px;
}
.botn-sencillo-registrar:hover{
    background-color: #1e1e36;
}
.botn-sencillo-registrar {
    border-radius: 5px;
    background-color: #111121;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 9px 20px;
    transition: background-color 500ms ease;
}
.botones-header {
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 30px;
    color: #f4ebeb;
    padding: 1%;
    gap: 7%;
    font-family: 'League Gothic';
    }
.header {
    width: 100%;
    position: sticky; /* Aquí tengo un problema, porque el sticky, no se stickea */
    background-color: #0E0E19;
    height: 20%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 27px;
    padding: 1%;
    color: #f4ebeb;
    font-family: 'League Gothic';
    }

/*-----------------------------------INICIO DE SESIÓN------------------------------------*/

.vector-icon {
    width: 30px;
    position: relative;
    height: 51px;
}
.iniciar-sesin {
    position: relative;
}
.crear-cuenta {
    position: absolute;
    width:80%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.correodelgymgmailcom1 {
    position: absolute;
    width: 118.47%;
    top: 0%;
    left: 0%;
    display: inline-block;

}
.correodelgymgmailcom {
    width: 150px;
    position: relative;
    height: 34px;
    transition: color 500ms ease;
}
.correodelgymgmailcom:hover{
    color: #D1DE83;
}
.no-tens-cuenta {
    position: absolute;
    width:80%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    top: 101px;
    left: 0px;
    font-size: 32px;
    font-family: Abel;
}
.conjunto-arriba {
    align-self: stretch;
    position: relative;
    height: 157px;
    font-size: 64px;
}
.nombre:hover{
    background-color: #D1DE83;
}
.nombre:active{
    color: #D1DE83;
}
.nombre {
    width: 25%;
    border-radius: 10px;
    background-color: #51515b;
    height: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0% 5%;
    font-family: Abel;
    transition: background-color 500ms ease;
    transform: color;
}
.botn-sencillo:hover{
    background-color: #1e1e36;
}
.botn-sencillo {
    width: auto;
    border-radius: 5px;
    background-color: #111121;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 9px 20px;
    font-size: 30px;
    color: #f4ebeb;
    transition: background-color 500ms ease;
}
.datos-inicio-de-sesin {
    width: 80%;
    background-color: #171721;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 17%;
    gap: 50px;
    text-align: left;
    font-size: 32px;
    color: #fff;
    font-family: 'League Gothic';
}

