/*-----------------------------------GLOBAL------------------------------------*/

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    margin: 0;
    overflow: hidden; /* Evita el desbordamiento */
}

/*-----------------------------------HEADER LATERAL------------------------------------*/

nav {
    display: flex;
    width: 30%; /* La barra de navegación ocupará el 30% */
    height: 100vh; /* Altura de toda la pantalla */
    flex-direction: column;
    align-items: flex-start;
    gap: 30%;
    background: #0E0E19;
    flex-shrink: 0; /* Evita que la barra se reduzca */
}

.headernosotros, .headernosotros_2 , .headernosotros_3{
    font-size: 27px;
    font-family: 'League Gothic';
    color: #f4ebeb;
    text-align: left;
    transition: color 500ms ease;
}

.headernosotros_1 {
    font-size: 27px;
    font-family: 'League Gothic';
    color: #aac432;
    text-align: left;
    transition: color 500ms ease;
}

.headernosotros:hover , .headernosotros_1:hover{
    color: #D1DE83;
}

.logo-icon {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
}

.arriba {
    display: flex;
    height: 118px;
    width: 100%; /* Ajusta el ancho para que ocupe el espacio disponible */
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    
}

.perfil_1 {
    display: flex;
    width: 176px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.abajo {
    display: flex;
    padding: 35px;
    flex-direction: column;
    gap: 30px;
    width: 100%; /* Ajusta para ocupar el ancho disponible */
}

.content {
    display: flex;
    flex-direction: column; /* Organiza las partes de arriba a abajo */
    width: 70%; /* El contenido ocupará el 70% */
    height: 100vh;
    padding: 70px 5px;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 9%;
    background: #171721;
    overflow: auto; /* Añade scroll si el contenido es muy grande */
}

.atras-icon {
    width: 30px;
    height: 30px;
    overflow: hidden;
    flex-shrink: 0;
}

.part_1{
    display: flex;
    width: 100%; /* Ocupa todo el ancho */
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    padding: 0px 20px;
}

.headernosotros_2 {
    font-size: 38px;
}

/*-----------------------------------CONTENIDO: ENTRENADORES------------------------------------*/

.vector-icon {
    width: 30px;
    position: relative;
    height: 51px;
}
.crear-cuenta {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 56px;
    font-size: 48px;
}
.pepito-perz1 {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    display: inline-block;
}
.pepito-perz {
    align-self: stretch;
    position: relative;
    height: 60px;
    font-size: 50px;
    color: #bcd933;
}
.entrenador-de-danza {
    align-self: stretch;
    position: relative;
}
.datos-entrenador {
    align-self: stretch;
    height: 247px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 10px;
    box-sizing: border-box;
    gap: 5px;
}
.iniciar-sesin {
    position: relative;
}
.botn-sencillo:hover{
    background-color: #1E1E36
}
.botn-sencillo {
    border-radius: 5px;
    background-color: #111121;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 9px 20px;
    font-size: 30px;
    color: #f4ebeb;
    transition: background-color 500ms ease;
}
.con-el-inscribirse {
    width: 317px;
    height: 310px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.image-icon {
    width: 210px;
    position: relative;
    height: 204px;
    object-fit: cover;
}
.inscribirse-con-el-entrenador {
    width: 840px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 80px;
}
.image-icon1 {
    width: 211px;
    position: relative;
    height: 206px;
    object-fit: cover;
}
.inscribirse-con-el-entrenador3 {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 80px;
}
.contenido-entrenadores {
    display: flex;
    flex-direction: column; /* Organiza las partes de arriba a abajo */
    width: 70%; /* El contenido ocupará el 70% */
    height: 1785px;
    padding: 70px 5px;
    justify-content: flex-start;
    align-items: center;
    row-gap: 30px;
    background: #171721;
    overflow: auto; /* Añade scroll si el contenido es muy grande */
    font-size: 36px;
    color: #fff;
    font-family: 'League Gothic';
}

