/*-----------------------------------GLOBAL------------------------------------*/


body {
    margin: 0;
    line-height: normal;
    background-color: #171721;
}

a {
    text-decoration: none;
}

/*-----------------------------------HEADER------------------------------------*/

.logo-icon {
    width: 23%;
    position: relative;
    height: 100%;
    overflow: hidden;
}
.iniciar-sesin {
    position: relative;
}
.botn-sencillo-iniciar-sesi:hover{
    background-color: #1E1E36;
}
.botn-sencillo-iniciar-sesi {
    border-radius: 5px;
    background-color: #111121;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 9px 20px;
    color: #f4ebeb;
    transition: background-color 500ms ease;
}
.botn-sencillo-registrar {
    border-radius: 5px;
    background-color: #1e1e36;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 9px 20px;
}
.botones-header {
    width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 30px;
    color: #f4ebeb;
    padding: 1%;
    gap: 7%;
    font-family: 'League Gothic';
    }
.header {
    width: 100%;
    position: sticky; /* Aquí tengo un problema, porque el sticky, no se stickea */
    background-color: #0E0E19;
    height: 20%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 27px;
    padding: 1%;
    color: #f4ebeb;
    font-family: 'League Gothic';
    }

/*---------------------------------CREAR CUENTA-----------------------------------*/

.vector-icon {
    width: 30px;
    position: relative;
    height: 51px;
}
.crear-cuenta {
    width:45%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.nombre:hover{
    background-color: #D1DE83;
}
.nombre:active{
    color: #D1DE83;
}
.nombre {
    width: 492px;
    border-radius: 10px;
    background-color: #51515b;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 29px;
    box-sizing: border-box;
    transition: background-color 500ms ease;
    transform: color;
}
.fecha-de-nacimineto {
    /*position: relative;*/
}
.vector-icon1 {
    width: 28px;
    position: relative;
    height: 16px;
    object-fit: contain;
}
.cosas-deplegable {
    /*overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
    gap: 3px;*/
    padding: 0px 6px;
}
.desplegable {
    border-radius: 10px;
    background-color: #51515b;
    height: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1px 10px;
    box-sizing: border-box;
}
.jjsjsjsjsjs {
    color: rgba(255, 255, 255, 0);
}
.casilla-datos:hover{
    background-color: #D1DE83;
}
.casilla-datos:active{
    color: #D1DE83;
}
.casilla-datos {
    border-radius: 10px;
    background-color: #51515b;
    height: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 29px;
    box-sizing: border-box;
    transition: background-color 500ms ease;
    transform: color;
}
.datos-documento {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sjjsjjsssjjsjsjsj {
    color: rgba(81, 81, 91, 0);
}
.ciudad {
    width: 100%;
    border-radius: 10px;
    background-color: #51515b;
    height: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}
.span {
    color: #51515b;
}
.lista-de-contendido-datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 31px;
    font-size: 32px;
    font-family: Abel;
}
.botn-sencillo:hover{
    background-color: #1E1E36;
}
.botn-sencillo {
    border-radius: 5px;
    background-color: #111121;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 9px 20px;
    font-size: 30px;
    color: #f4ebeb;
}
.lista-de-datos {
    width: 100%;
    background-color: #171721;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2% 3%;
    gap: 40px;
    text-align: left;
    font-size: 64px;
    color: #fff;
    font-family: 'League Gothic';
}

/*---------------------------------LISTA 1 / TIPO DE DOCUMENTO-----------------------------------*/

.tipos-de-documentos-child {
    width: 174px;
    position: absolute;
    margin: 0 !important;
    top: calc(50% - 248.5px);
    left: calc(50% - 87.5px);
    border-radius: 10px;
    background-color: #3f3f48;
    height: 498px;
    z-index: 0;
}
.tipo {
    position: relative;
}
.contenido {
    border-radius: 10px;
    background-color: #3f3f48;
    height: 63px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px 22px;
    box-sizing: border-box;
    z-index: 1;
}
.contenido1 {
    border-radius: 10px;
    background-color: #3f3f48;
    height: 63px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px 22px;
    box-sizing: border-box;
    z-index: 2;
}
.contenido2 {
    border-radius: 10px;
    background-color: #3f3f48;
    height: 63px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px 22px;
    box-sizing: border-box;
    z-index: 3;
}
.contenido3 {
    border-radius: 10px;
    background-color: #3f3f48;
    height: 63px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px 22px;
    box-sizing: border-box;
    z-index: 4;
}
.tipos-de-documentos {
    width: 100%;
    position: relative;
    border-radius: 10px;
    height: 498px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 11px;
    text-align: left;
    font-size: 32px;
    color: #fff;
    font-family: Abel;
}

/*---------------------------------LISTA 2 / CIUDADES-----------------------------------*/

.ciudades-child {
    width: 174px;
    position: absolute;
    margin: 0 !important;
    top: calc(50% - 248.5px);
    left: calc(50% - 87px);
    border-radius: 10px;
    background-color: #3f3f48;
    height: 498px;
    z-index: 0;
}

.C_contenido {
    border-radius: 10px;
    background-color: #3f3f48;
    height: 63px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px 22px;
    box-sizing: border-box;
    z-index: 1;
}
.C_contenido1 {
    border-radius: 10px;
    background-color: #3f3f48;
    height: 63px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px 22px;
    box-sizing: border-box;
    z-index: 2;
}
.C_contenido2 {
    border-radius: 10px;
    background-color: #3f3f48;
    height: 63px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px 22px;
    box-sizing: border-box;
    z-index: 3;
}
.C_contenido3 {
    border-radius: 10px;
    background-color: #3f3f48;
    height: 63px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px 22px;
    box-sizing: border-box;
    z-index: 4;
}
.C_contenido4 {
    border-radius: 10px;
    background-color: #3f3f48;
    height: 63px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px 22px;
    box-sizing: border-box;
    z-index: 5;
}
.C_contenido5 {
    border-radius: 10px;
    background-color: #3f3f48;
    height: 63px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px 22px;
    box-sizing: border-box;
    z-index: 6;
}
.ciudades {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 498px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 11px;
    box-sizing: border-box;
    text-align: left;
    font-size: 32px;
    color: #fff;
    font-family: Abel;
}

/*---------------------------------LISTA 3 / ROLES-----------------------------------*/

.desplegable-rol-child {
    width: 174px;
    position: absolute;
    margin: 0 !important;
    top: calc(50% - 248px);
    left: calc(50% - 87.5px);
    border-radius: 10px;
    background-color: #3f3f48;
    height: 498px;
    z-index: 0;
}
.tipo {
    position: relative;
}
.R_contenido {
    border-radius: 10px;
    background-color: #3f3f48;
    height: 63px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px 22px;
    box-sizing: border-box;
    z-index: 1;
}
.R_contenido1 {
    border-radius: 10px;
    background-color: #3f3f48;
    height: 63px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1px 22px;
    box-sizing: border-box;
    z-index: 2;
}
.desplegable-rol {
    width: 100%;
    position: relative;
    border-radius: 10px;
    height: 149px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 11px;
    box-sizing: border-box;
    gap: 20px;
    text-align: left;
    font-size: 32px;
    color: #fff;
    font-family: Abel;
}
