/*-----------------------------------GLOBAL------------------------------------*/

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    margin: 0;
    overflow: hidden; /* Evita el desbordamiento */
}

a{
    text-decoration: none;
}

/*-----------------------------------HEADER LATERAL------------------------------------*/

nav {
    display: flex;
    width: 30%; /* La barra de navegación ocupará el 30% */
    height: 100vh; /* Altura de toda la pantalla */
    flex-direction: column;
    align-items: flex-start;
    gap: 30%;
    background: #0E0E19;
    flex-shrink: 0; /* Evita que la barra se reduzca */
}

.headernosotros, .headernosotros_2 , .headernosotros_3{
    font-size: 27px;
    font-family: 'League Gothic';
    color: #f4ebeb;
    text-align: left;
    transition: color 500ms ease;
}

.headernosotros_1 {
    font-size: 27px;
    font-family: 'League Gothic';
    color: #aac432;
    text-align: left;
    transition: color 500ms ease;
}

.headernosotros:hover , .headernosotros_1:hover{
    color: #D1DE83;
}

.logo-icon:hover{
    content: url(img/Logo_Variente\ Hover.png);
}

.logo-icon {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 3s ease-in-out;
}

.logo-icon-1:hover{
    content: url(img/Imagen\ Perfil_Variante\ Hover.png);
}
.logo-icon-1 {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 3s ease-in-out;
}

.arriba {
    display: flex;
    height: 118px;
    width: 100%; /* Ajusta el ancho para que ocupe el espacio disponible */
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    
}

.perfil_1 {
    display: flex;
    width: 176px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.abajo {
    display: flex;
    padding: 35px;
    flex-direction: column;
    gap: 30px;
    width: 100%; /* Ajusta para ocupar el ancho disponible */
}

.content {
    display: flex;
    flex-direction: column; /* Organiza las partes de arriba a abajo */
    width: 70%; /* El contenido ocupará el 70% */
    height: 100vh;
    padding: 70px 5px;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 9%;
    background: #171721;
    overflow: auto; /* Añade scroll si el contenido es muy grande */
}

.atras-icon:hover{
    content: url(img/Mítica\ Flecha_Varinate\ Hover.png);
}
.atras-icon {
    width: 30px;
    height: 30px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 3s ease-in-out;
}

.part_1{
    display: flex;
    width: 100%; /* Ocupa todo el ancho */
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    padding: 0px 20px;
}

.headernosotros_2 {
    font-size: 38px;
}
    
.part_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Espacia los logros para que queden en columnas */
    width: 90%; /* Ocupa todo el ancho */
    gap: 20px; /* Espacio entre las cajas de logros */
    padding: 0px 20px;
}
    
.logro, .logro_1 {
    width: 30%; /* Ajusta el tamaño para que quepan 2 logros por fila */
    height: auto;
    padding: 10%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background: #BCD933;
    box-sizing: border-box; /* Asegura que padding y border se incluyan en el width */
    
}

.logro_1{
    background: #D1DE83;
}
    
.headernosotros_3 {
    color: #171721;
    font-size: 64px;
    text-align: center;
    transform: rotate(-45deg);
}
    
.part_3{
    display: flex;
    width: 100%; /* Ocupa todo el ancho */
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    padding: 0px 20px;
    text-align: left;
    margin-left: 10%;
}