/*-----------------------------------GLOBAL------------------------------------*/

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    margin: 0;
    overflow: hidden; /* Evita el desbordamiento */
}

a{
    text-decoration: none;
}

/*-----------------------------------HEADER LATERAL------------------------------------*/

nav {
    display: flex;
    width: 30%; /* La barra de navegación ocupará el 30% */
    height: 100vh; /* Altura de toda la pantalla */
    flex-direction: column;
    align-items: flex-start;
    gap: 30%;
    background: #0E0E19;
    flex-shrink: 0; /* Evita que la barra se reduzca */
}

.headernosotros, .headernosotros_2 , .headernosotros_3{
    font-size: 27px;
    font-family: 'League Gothic';
    color: #f4ebeb;
    text-align: left;
    transition: color 500ms ease;
}

.headernosotros_1 {
    font-size: 27px;
    font-family: 'League Gothic';
    color: #aac432;
    text-align: left;
    transition: color 500ms ease;
}

.headernosotros:hover , .headernosotros_1:hover{
    color: #D1DE83;
}

.logo-icon:hover{
    opacity: 0.5;
}

.logo-icon {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 500ms ease-in-out;
}

.logo-icon-1:hover{
    opacity: 0.5;
}
.logo-icon-1 {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 500ms ease-in-out;
}

.arriba {
    display: flex;
    height: 118px;
    width: 100%; /* Ajusta el ancho para que ocupe el espacio disponible */
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    
}

.perfil_1 {
    display: flex;
    width: 176px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.abajo {
    display: flex;
    padding: 35px;
    flex-direction: column;
    gap: 30px;
    width: 100%; /* Ajusta para ocupar el ancho disponible */
}

.content {
    display: flex;
    flex-direction: column; /* Organiza las partes de arriba a abajo */
    width: 70%; /* El contenido ocupará el 70% */
    height: 90vh;
    padding: 70px 5px;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 9%;
    background: #171721;
    
}

.atras-icon:hover{
    opacity: 0.5;
}
.atras-icon {
    width: 30px;
    height: 30px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 500ms ease-in-out;
}

.part_1{
    display: flex;
    width: 100%; /* Ocupa todo el ancho */
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    padding: 0px 20px;
    flex-shrink: 0; /* Evita que se reduzca */
}

.headernosotros_2 {
    font-size: 38px;
}
    
.part_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Espacia los logros para que queden en columnas */
    width: 90%; /* Ocupa todo el ancho */
    flex-grow: 1;
    gap: 20px; /* Espacio entre las cajas*/
    padding: 0px 20px;
    overflow: hidden;
    align-content: flex-end;
    margin-bottom: 10%;
}

.hercules_image {
    height: 100%;
    flex-shrink: 0;
    align-self: stretch;
}

.boton:hover{
    background-color: #1E1E36;
}
.boton {
    display: flex;
    padding: 9px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color:#0E0E19;

    transition: background-color 500ms ease;
}