/*-----------------------------------GLOBAL------------------------------------*/


body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    margin: 0;
    overflow: hidden; /* Evita el desbordamiento */
}
a{
    text-decoration: none;
}

/*-----------------------------------HEADER LATERAL------------------------------------*/

.nav {
    display: flex;
    width: 30%; /* La barra de navegaci칩n ocupar치 el 30% */
    height: 100vh; /* Altura de toda la pantalla */
    flex-direction: column;
    align-items: flex-start;
    gap: 30%;
    background: #0E0E19;
    flex-shrink: 0; /* Evita que la barra se reduzca */
}

.logo-icon {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
}

.arriba {
    display: flex;
    height: 118px;
    width: 100%; /* Ajusta el ancho para que ocupe el espacio disponible */
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    
}

.headernosotros {
    font-size: 27px;
    font-family: 'League Gothic';
    color: #f4ebeb;
    text-align: left;
    transition: color 500ms ease;
}

.headernosotros:hover , .headernosotros_1:hover{
    color: #D1DE83;
}
.headernosotros_1 {
    font-size: 27px;
    font-family: 'League Gothic';
    color: #aac432;
    text-align: left;
    transition: color 500ms ease;
}

.perfil_1 {
    display: flex;
    width: 176px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.abajo {
    display: flex;
    padding: 35px;
    flex-direction: column;
    gap: 30px;
    width: 100%; /* Ajusta para ocupar el ancho disponible */
}

.content {
    display: flex;
    flex-direction: column; /* Organiza las partes de arriba a abajo */
    width: 70%; /* El contenido ocupar치 el 70% */
    height: 100vh;
    padding: 75px 100px 65px 100px;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 30px;
    background: #171721;
    overflow: auto; /* A침ade scroll si el contenido es muy grande */
}

.arriba_1{
    display: flex;
    width: 100%; /* Ocupa todo el ancho */
    justify-content: space-around;
    align-items: center;
}

.part_1 {
    display: flex;
    width: 50%; /* Ajusta para ocupar la mitad del contenedor */
    flex-direction: column;
    align-items: flex-end;
}

.hercules_image {
    height: 5%;
    flex-shrink: 0;
    align-self: stretch;
}

.boton {
    display: flex;
    padding: 9px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color: #BCD933;
    transition: background-color 500ms ease;
}

.boton:hover {
    background: #1E1E36;
}

.part_2 {
    display: flex;
    width: 50%; /* Ajusta para ocupar la mitad del contenedor */
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-start;
    justify-content: center;
}

part_2.logo-icon{
    width: 180px;
    height: 180px;
}

.part_3 {
    display: flex;
    width: 100%; /* Ocupa todo el ancho */
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.part_3 .headernosotros {
    color: #BCD933;
    font-size: 48px;
}
