body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    margin: 0;
    overflow: hidden; /* Evita el desbordamiento */
}

.nav {
    display: flex;
    width: 30%; /* La barra de navegaci칩n ocupar치 el 30% */
    height: 100vh; /* Altura de toda la pantalla */
    flex-direction: column;
    align-items: flex-start;
    gap: 30%;
    background: #0E0E19;
    flex-shrink: 0; /* Evita que la barra se reduzca */
}

.content {
    display: flex;
    width: 70%; /* El contenido ocupar치 el 70% */
    height: 100vh;
    padding: 75px 100px 65px 100px;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 10px;
    row-gap: 30px;
    flex-grow: 1; /* Asegura que el contenido ocupe el espacio restante */
    flex-wrap: wrap;
    background: #171721;
    overflow: auto; /* A침ade scroll si el contenido es muy grande */
}

.logo-icon {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
}

.arriba {
    display: flex;
    height: 118px;
    width: 100%; /* Ajusta el ancho para que ocupe el espacio disponible */
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    
}

.headernosotros {
    font-size: 27px;
    font-family: 'League Gothic';
    color: #f4ebeb;
    text-align: left;
    transition: color 500ms ease;
}

.headernosotros:hover {
    color: #D1DE83;
}

.perfil_1 {
    display: flex;
    width: 176px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.abajo {
    display: flex;
    padding: 35px;
    flex-direction: column;
    gap: 30px;
    width: 100%; /* Ajusta para ocupar el ancho disponible */
}

.part_1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    gap: 18px;
}

.hercules_image {
    height: 20%;
    flex-shrink: 0;
    align-self: stretch;
}

.boton {
    display: flex;
    padding: 9px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color: #BCD933;
    transition: background-color 500ms ease;
}

.boton:hover {
    background: #1E1E36;
}

.part_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.part_3 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.part_3 .headernosotros {
    color: #BCD933;
    font-size: 48px;
}
