body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.nav{
    display: flex;
    width: 30%;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    gap: 35%;
    flex-shrink: 0;
    background: #0E0E19;
    align-self: stretch;
}

.content{
    display: flex;
    width: auto;
    height: 100%;
    padding: 75px 100px 65px 100px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 30px;
    flex-shrink: 0;
    flex-wrap: wrap;
    background: #171721;
}

.logo-icon {
    width: 60px;
    position: relative;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
}

.arriba{
    display: flex;
    height: 118px;
    margin: 10px 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.headernosotros {
    position: relative;
    font-size: 27px;
    font-family: 'League Gothic';
    color: #f4ebeb;
    text-align: left;
    transition: color 500ms ease;
}
.headernosotros1 {
    position: relative;
}
.headernosotros:hover{
    color: #D1DE83;
}

.perfil_1{
    display: flex;
    width: 176px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.abajo{
    display: flex;
    height: 432px;
    padding: 35px 98px 35px 35px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.part_1{
    display: flex;
    width: 469px;
    height: 551px;
    flex-direction: column;
    align-items: flex-end;
    gap: 18px;
    flex-shrink: 0;
}

.hercules_image{
    height: 428px;
    flex-shrink: 0;
    align-self: stretch;
    background-color: aquamarine;
}
