body {
    margin: 0;
    line-height: normal;
}

.nav{
    display: flex;
    width: 30%;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    gap: 180px;
    flex-shrink: 0;
    background: #0E0E19;
    align-self: stretch;
}

.logo-icon {
    width: 84px;
    position: relative;
    height: 84px;
    overflow: hidden;
    flex-shrink: 0;
}

.arriba{
    display: flex;
    height: 118px;
    margin: 10px 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.headernosotros {
    position: relative;
    font-size: 27px;
    font-family: 'League Gothic';
    color: #f4ebeb;
    text-align: left;
    transition: color 500ms ease;
}
.headernosotros1 {
    position: relative;
}
.headernosotros:hover{
    color: #D1DE83;
}

.perfil_1{
    display: flex;
    width: 176px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.abajo{
    display: flex;
    height: 432px;
    padding: 35px 98px 35px 35px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}