/*-----------------------------------GLOBAL------------------------------------*/


body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    margin: 0;
    overflow: hidden;
}
a{
    text-decoration: none;
}

/*-----------------------------------HEADER LATERAL------------------------------------*/

nav {
    display: flex;
    width: 30%; /* La barra de navegación ocupará el 30% */
    height: 100vh; /* Altura de toda la pantalla */
    flex-direction: column;
    align-items: flex-start;
    gap: 30%;
    background: #0E0E19;
    flex-shrink: 0; /* Evita que la barra se reduzca */
}

.logo-icon:hover{
    content: url(../img/Logo\ Hover.svg);
}

.logo-icon {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 500ms ease-in-out;
}

.logo-icon-1:hover{
    opacity: 0.5;
}
.logo-icon-1 {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 500ms ease-in-out;
}

.fuego-icon {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 3s ease-in-out;
}

.logo-icon-1 {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 3s ease-in-out;
}

.arriba {
    display: flex;
    height: 118px;
    width: 100%; /* Ajusta el ancho para que ocupe el espacio disponible */
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    
}

.headernosotros, .headernosotros_2 , .headernosotros_3 {
    font-size: 27px;
    font-family: 'League Gothic';
    color: #f4ebeb;
    text-align: left;
    transition: color 500ms ease;
}

.headernosotros:hover , .headernosotros_1:hover{
    color: #D1DE83;
}
.headernosotros_1 {
    font-size: 27px;
    font-family: 'League Gothic';
    color: #aac432;
    text-align: left;
    transition: color 500ms ease;
}

.perfil_1 {
    display: flex;
    width: 176px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.abajo {
    display: flex;
    padding: 35px;
    flex-direction: column;
    gap: 30px;
    width: 100%; /* Ajusta para ocupar el ancho disponible */
}

/*-----------------------------------CONTENT------------------------------------*/

.tipo {
  	position: relative;
}
.contenido:hover{
    background-color: #3f3f48;
}
.contenido {
    height: 50%;
    width: auto;
  	border-radius: 10px;
  	background-color: #aac432;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 1px 22px;
  	box-sizing: border-box;
    transition: backgroung-color 500ms ease-in-out;
}

.contenido1:hover{
    background-color: #3f3f48;
}
.contenido1 {
    width: 400px;
    height: 35px;
  	border-radius: 10px;
  	background-color: #aac432;
  	height: 40px;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	justify-content: center;
    transition: backgroung-color 500ms ease-in-out;
}

.vector-icon:hover {
    opacity: 0.5;
}
.vector-icon {
  	width: 30px;
  	position: relative;
  	height: 59.3px;
  	object-fit: contain;
  	cursor: pointer;
    transition: 500ms ease-in-out;
}
.vector-parent {
  	width: 90%;
    height: 14%;
  	overflow: hidden;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 1% 0%;
  	box-sizing: border-box;
  	gap: 35px;
  	font-size: 48px;
  	color: #f4ebeb;
  	font-family: 'League Gothic';
}
.contenido2 {
    position: relative;
    width: 20%;
    height: 40px;
  	border-radius: 10px;
  	background-color: #3f3f48;
  	overflow: hidden;
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 1px 22px;
}
.contenido-group {
  	width: 100%;
  	height: 15%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 3% 0%;
    gap: 10%;
}
.contenido-container {
    width: 100%;
    height: 10%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10%;
}
.contenido-container1 {
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 4%;
}
.contenido11 {
    width: 400px;
  	align-self: stretch;
  	border-radius: 10px;
  	background-color: #3f3f48;
  	height: 40px;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 1px 22px;
  	box-sizing: border-box;
}
.frame-div {
  	width: 400px;
    height: 100%;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	box-sizing: border-box;
    padding: 1% 0%;
  	gap: 15px;
    overflow: hidden;
}
.cosas-1-icon {
    width: 100%;
    height: 20%;
  	overflow: hidden;
  	flex-shrink: 0;
  	object-fit: cover;
}
.cosas-1-parent {
  	width: 45%;
  	height: 100%;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 5%;
}
.frame-parent {
  	position: relative;
    height: 28%;
  	width: 90%;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 40px;
}

button :hover {
    background-color: #D1DE83;
    color: #0E0E19;
}
button {
    width: 70%;
    height: 7%;
    border-radius: 5px;
    background-color: #111121;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 9px 20px;
    font-size: 30px;
    color: #f4ebeb;
    border: none; /* Remueve el borde predeterminado del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Añade una transición de color suave */
    font-family: 'League Gothic';
}
.contenido-parent {
  	width: 100%;
  	position: relative;
  	background-color: #171721;
  	height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2% 2.5%;
  	font-size: 32px;
  	color: #fff;
  	font-family: Abel;
}

