/*-----------------------------------GLOBAL------------------------------------*/


body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    margin: 0;
    overflow: hidden; /* Evita el desbordamiento */
}
a{
    text-decoration: none;
}

/*-----------------------------------HEADER LATERAL------------------------------------*/

nav {
    display: flex;
    width: 30%; /* La barra de navegación ocupará el 30% */
    height: 100vh; /* Altura de toda la pantalla */
    flex-direction: column;
    align-items: flex-start;
    gap: 30%;
    background: #0E0E19;
    flex-shrink: 0; /* Evita que la barra se reduzca */
}

.logo-icon:hover{
    opacity: 0.5;
}

.logo-icon {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 500ms ease-in-out;
}

.logo-icon-1:hover{
    opacity: 0.5;
}
.logo-icon-1 {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 500ms ease-in-out;
}

.fuego-icon {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 3s ease-in-out;
}

.logo-icon-1 {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 3s ease-in-out;
}

.arriba {
    display: flex;
    height: 118px;
    width: 100%; /* Ajusta el ancho para que ocupe el espacio disponible */
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    
}

.headernosotros, .headernosotros_2 , .headernosotros_3 {
    font-size: 27px;
    font-family: 'League Gothic';
    color: #f4ebeb;
    text-align: left;
    transition: color 500ms ease;
}

.headernosotros:hover , .headernosotros_1:hover{
    color: #D1DE83;
}
.headernosotros_1 {
    font-size: 27px;
    font-family: 'League Gothic';
    color: #aac432;
    text-align: left;
    transition: color 500ms ease;
}

.perfil_1 {
    display: flex;
    width: 176px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.abajo {
    display: flex;
    padding: 35px;
    flex-direction: column;
    gap: 30px;
    width: 100%; /* Ajusta para ocupar el ancho disponible */
}

/*-----------------------------------CONTENT------------------------------------*/

.vector-icon:hover {
    opacity: 0.5;
}
.vector-icon {
    width: 30px;
    position: relative;
    height: 51px;
}
.image-icon {
    width: 140px;
    position: relative;
    height: 140px;
    object-fit: cover;
}
.nosotros {
    position: relative;
    flex-direction: column;
    gap: 20px;
}
.hovering-titles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.correodelgymgmailcom1 {
    position: absolute;
    width: 105.11%;
    top: 0%;
    left: 0%;
    display: inline-block;
}

.correodelgymgmailcom:hover {
    color: #D1DE83 ;
}
.correodelgymgmailcom {
    width: 323px;
    position: relative;
    height: 34px;
    font-size: 32px;
    color: #fff;
    font-family: Abel;
    transition: 500ms ease-in-out;
}
.hovering-titles-parent {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
}
.image-parent {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 50px;

}

.botn-sencillo:hover {
    background-color: #0c0c1f;
    color: #f4ebeb;
}
.botn-sencillo {
    border-radius: 5px;
    background-color: #bcd933;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 9px 20px;
    font-size: 30px;
    color: #171721;
    transition: color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out;
}

.blank-line {
    margin: 0;
}
.hovering-titles1 {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}
.l {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    display: inline-block;
}
.das-semana {
    width: 20.2px;
    position: relative;
    height: 58px;
}
.das-semana-parent {
    width: 656px;
    height: 78px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    gap: 77px;
    color: #fff;
}
.da-de-racha-child {
    width: 80px;
    position: relative;
    border-radius: 50%;
    background-color: #bcd933;
    height: 80px;
}
.da-de-racha-child1 {
    width: 80px;
    position: relative;
    border-radius: 50%;
    background-color: #d1de83;
    height: 80px;
}
.da-de-racha4 {
    width: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.da-de-racha-parent {
    width: 661px;
    height: 80px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}
.rutina-preparada {
    width: 95%;
    height: 100%;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    font-size: 48px;

}
.evento {
    align-self: stretch;
    position: relative;
    text-transform: uppercase;
    z-index: 0;
}
.evento-en-el {
    align-self: stretch;
    position: relative;
    text-transform: uppercase;
    color: #0c0c1f;
    z-index: 1;
}
.evento-chikito-child {
    width: 217.8px;
    position: absolute;
    margin: 0 !important;
    top: -30.72px;
    left: 87.5px;
    height: 213.2px;
    object-fit: contain;
    z-index: 2;
}
.evento-chikito {
    width: 223px;
    border-radius: 25px;
    background-color: #bcd933;
    height: 223px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 34px 10px;
    box-sizing: border-box;
    position: relative;
    gap: 15px;
}
.evento-chikito1 {
    width: 223px;
    border-radius: 25px;
    background-color: #d1de83;
    height: 223px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 34px 10px;
    box-sizing: border-box;
    position: relative;
    gap: 15px;
    cursor: pointer;
}
.evento-en-el2 {
    align-self: stretch;
    position: relative;
    text-transform: uppercase;
    white-space: pre-wrap;
    z-index: 1;
}
.evento-chikito2 {
    width: 223px;
    border-radius: 25px;
    background-color: #0e0e19;
    height: 223px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 34px 10px;
    box-sizing: border-box;
    position: relative;
    gap: 15px;
    cursor: pointer;
    color: #eee;
}
.scroll-event-chikito {
    width: 667px;
    height: 223px;
    overflow-x: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    text-align: center;
    color: #171721;
}
.frame-parent {
    width: 90%;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0px 30px 0px 0px;
    box-sizing: border-box;
    gap: 13px;

}
.estudiante-2 {
    width: 70%;
    position: relative;
    background-color: #171721;
    height: 100%;
    overflow-y: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    padding: 3% 0%;
    gap: 80px;
    text-align: left;
    font-size: 64px;
    color: #f4ebeb;
    font-family: 'League Gothic';
}

