/*-----------------------------------GLOBAL------------------------------------*/


body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    margin: 0;
    overflow: hidden; /* Evita el desbordamiento */
}
a{
    text-decoration: none;
}

/*-----------------------------------HEADER LATERAL------------------------------------*/

nav {
    display: flex;
    width: 30%; /* La barra de navegación ocupará el 30% */
    height: 100vh; /* Altura de toda la pantalla */
    flex-direction: column;
    align-items: flex-start;
    gap: 30%;
    background: #0E0E19;
    flex-shrink: 0; /* Evita que la barra se reduzca */
}

.logo-icon:hover{
    opacity: 0.5;
}

.logo-icon {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 500ms ease-in-out;
}

.logo-icon-1:hover{
    opacity: 0.5;
}
.logo-icon-1 {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 500ms ease-in-out;
}

.fuego-icon {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 3s ease-in-out;
}

.logo-icon-1 {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 3s ease-in-out;
}

.arriba {
    display: flex;
    height: 118px;
    width: 100%; /* Ajusta el ancho para que ocupe el espacio disponible */
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    
}

.headernosotros {
    font-size: 27px;
    font-family: 'League Gothic';
    color: #f4ebeb;
    text-align: left;
    transition: color 500ms ease;
}

.headernosotros:hover , .headernosotros_1:hover{
    color: #D1DE83;
}
.headernosotros_1 {
    font-size: 27px;
    font-family: 'League Gothic';
    color: #aac432;
    text-align: left;
    transition: color 500ms ease;
}

.perfil_1 {
    display: flex;
    width: 176px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.abajo {
    display: flex;
    padding: 35px;
    flex-direction: column;
    gap: 30px;
    width: 100%; /* Ajusta para ocupar el ancho disponible */
}

.content {
    display: flex;
    flex-direction: column; /* Organiza las partes de arriba a abajo */
    width: 70%; /* El contenido ocupará el 70% */
    height: 100vh;
    padding: 75px 100px 65px 100px;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 30px;
    background: #171721;
    overflow: auto; /* Añade scroll si el contenido es muy grande */
}

.boton, .boton_2 {
    display: flex;
    padding: 9px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color: #BCD933;
    transition: background-color 500ms ease;
}
.boton_2{
    background: #D1DE83;
}
.boton:hover {
    background: #1E1E36;
}

.part_2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start; /* Ajustar las cajas al inicio del eje vertical */
    width: 90%;
    padding: 39px 38px;
    row-gap: 20%;
    margin-bottom: 10%;
}

.headernosotros_3{
    color: #171721;
    font-family: "League Gothic";
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logro {
    width: 45%; /* Mantiene el tamaño del contenedor */
    padding: 10px; /* Reduce el padding interno */
    margin: 5px 0; /* Reduce el margen entre los contenedores de logro */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; /* Reduce el espacio entre la imagen, el texto y el botón */
    border-radius: 25px;
    box-sizing: border-box;
}

.img-estudiante {
    max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
    height: auto;
}

h6 {
    color: #F4EBEB;
    font-family: "League Gothic";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5px 0; /* Reduce el margen entre el título y los otros elementos */
}

.boton_2 {
    border-radius: 5px;
    background: #D1DE83;
}

.boton_2:hover {
    background-color: #1E1E36;
}
