/*-----------------------------------GLOBAL------------------------------------*/

body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    margin: 0;
    overflow: hidden; /* Evita el desbordamiento */
}

a{
    text-decoration: none;
}

/*-----------------------------------HEADER LATERAL------------------------------------*/

nav {
    display: flex;
    width: 30%; /* La barra de navegación ocupará el 30% */
    height: 100vh; /* Altura de toda la pantalla */
    flex-direction: column;
    align-items: flex-start;
    gap: 30%;
    background: #0E0E19;
    flex-shrink: 0; /* Evita que la barra se reduzca */
}

.headernosotros, .headernosotros_2 , .headernosotros_3, .headernosotros_4{
    font-size: 27px;
    font-family: 'League Gothic';
    color: #f4ebeb;
    text-align: left;
    transition: color 500ms ease;
}

.headernosotros_1 {
    font-size: 27px;
    font-family: 'League Gothic';
    color: #aac432;
    text-align: left;
    transition: color 500ms ease;
}

.headernosotros:hover , .headernosotros_1:hover{
    color: #D1DE83;
}

.logo-icon:hover{
    opacity: 0.5;
}

.logo-icon {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 500ms ease-in-out;
}

.logo-icon-1:hover{
    opacity: 0.5;
}
.logo-icon-1 {
    width: 60px;
    height: 60px;
    overflow: hidden;
    flex-shrink: 0;
    transition: 500ms ease-in-out;
}

.arriba {
    display: flex;
    height: 118px;
    width: 100%; /* Ajusta el ancho para que ocupe el espacio disponible */
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    
}

.perfil_1 {
    display: flex;
    width: 176px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.abajo {
    display: flex;
    padding: 35px;
    flex-direction: column;
    gap: 30px;
    width: 100%; /* Ajusta para ocupar el ancho disponible */
}

.content {
    display: flex;
    flex-direction: column; /* Organiza las partes de arriba a abajo */
    width: 70%; /* El contenido ocupará el 70% */
    height: 100vh;
    padding: 70px 5px;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 9%;
    background: #171721;
}

.atras-icon:hover{
    opacity: 0.5;
}
.atras-icon {
    width: 30px;
    position: relative;
    height: 51px;
    transition: 3s ease-in-out;
}

.part_1{
    display: flex;
    width: 100%; /* Ocupa todo el ancho */
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    padding: 0px 20px;
}

.headernosotros_2 {
    font-size: 48px;
}
    
.division {
    display: flex;
    align-content: flex-start;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    width: 100%; /* Ocupa todo el ancho */
    height: 80%;
    gap: 20px; /* Espacio entre las cajas */
    padding: 0px 30px;
    margin-bottom: 10%;
}

.part_2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-basis: 30%; 
}

.nombre:active{
    color: #aac432;
}
.nombre {
    align-items: center;
    justify-content: flex-start;
    padding: 1%;
    box-sizing: border-box;
    color :#f4ebeb;
    transform: color 500ms ease;
    font-size: 32px;
    font-family: Abel;
}
form.part_3 {
    height: 100%;
    color: #f4ebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-basis: 65%; 
}

.perfil_image {
    height: 30%;
    align-self: stretch;
}

.boton{
    color: #f4ebeb;
    display: inline-flex; /* Permite que el botón se ajuste al tamaño del contenido (texto) */
    padding: 5px 10px; /* Ajusta el espacio alrededor del texto, pero mantiene el botón compacto */
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color: #0E0E19;
    transition: background-color 500ms ease;
}
.boton:hover {
    background-color: #1E1E36;
}

button {
    width: 400px;
    height: 40px;
    border-radius: 5px;
    background-color: #0E0E19;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 9px 20px;
    font-size: 32px;
    color: #f4ebeb;
    border: none; /* Remueve el borde predeterminado del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Añade una transición de color suave */
    font-family: 'League Gothic';
}
button:hover {
    background-color: #aac432; /* Cambia el color al pasar el cursor */
}



/* Aplica este estilo a todos los campos de tipo input */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 500px;
    border-radius: 10px;
    background-color: #51515b;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 29px;
    box-sizing: border-box;
    border: none;
    color: #ffffff; /* Texto en blanco */
    font-size: 32px;
    font-family: Abel;
    transition: background-color 500ms ease;
}

/* Cambia el color de fondo al hacer hover */
input[type="text"]:hover,
input[type="tel"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="date"]:hover {
    background-color: #3d3d44;
}

/* Cambia el color de fondo cuando el campo está enfocado */
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus {
    background-color: #3a3a42;
    outline: none; /* Quita el contorno predeterminado */
}
input::placeholder {
    color: #f4ebeb;
}